In [2]:
import pandas as pd

page = 'numbers_budgets.html'
df_budgets = pd.read_html(page)
df_budgets

[          0             1                                          2  \
 0       NaN  Release Date                                      Movie
 1         1    12/18/2009                                     Avatar
 2       NaN           NaN                                        NaN
 3         2    12/18/2015       Star Wars Ep. VII: The Force Awakens
 4       NaN           NaN                                        NaN
 5         3     5/24/2007   Pirates of the Caribbean: At World's End
 6       NaN           NaN                                        NaN
 7         4     11/6/2015                                    Spectre
 8       NaN           NaN                                        NaN
 9         5     7/20/2012                      The Dark Knight Rises
 10      NaN           NaN                                        NaN
 11        6      7/2/2013                            The Lone Ranger
 12      NaN           NaN                                        NaN
 13        7      3/9/2012                                John Carter
 14      NaN           NaN                                        NaN
 15        8    11/24/2010                                    Tangled
 16      NaN           NaN                                        NaN
 17        9      5/4/2007                               Spider-Man 3
 18      NaN           NaN                                        NaN
 19       10      5/1/2015                The Avengers: Age of Ultron
 20      NaN           NaN                                        NaN
 21       11     3/25/2016         Batman v Superman: Dawn of Justice
 22      NaN           NaN                                        NaN
 23       12    12/14/2012          The Hobbit: An Unexpected Journey
 24      NaN           NaN                                        NaN
 25       13     7/15/2009     Harry Potter and the Half-Blood Prince
 26      NaN           NaN                                        NaN
 27       14    12/13/2013        The Hobbit: The Desolation of Smaug
 28      NaN           NaN                                        NaN
 29       15    12/17/2014  The Hobbit: The Battle of the Five Armies
 ...     ...           ...                                        ...
 10205  5103     5/28/2004                            On the Down Low
 10206   NaN           NaN                                        NaN
 10207  5104      4/1/1996                                       Bang
 10208   NaN           NaN                                        NaN
 10209  5105     8/14/2008            The Rise and Fall of Miss Thang
 10210   NaN           NaN                                        NaN
 10211  5106     5/19/2015                           Family Motocross
 10212   NaN           NaN                                        NaN
 10213  5107     1/13/2012                                  Newlyweds
 10214   NaN           NaN                                        NaN
 10215  5108     2/26/1993                                El Mariachi
 10216   NaN           NaN                                        NaN
 10217  5109     10/8/2004                                     Primer
 10218   NaN           NaN                                        NaN
 10219  5110     5/26/2006                                     Cavite
 10220   NaN           NaN                                        NaN
 10221  5111      1/1/2004                            The Mongol King
 10222   NaN           NaN                                        NaN
 10223  5112      4/2/1999                                  Following
 10224   NaN           NaN                                        NaN
 10225  5113     7/13/2005              Return to the Land of Wonders
 10226   NaN           NaN                                        NaN
 10227  5114     9/29/2015                    Signed Sealed Delivered
 10228   NaN           NaN                                        NaN
 10229  5115     2/15/2013                           Shanghai Calling
 10230   NaN           NaN                                        NaN
 10231  5116     9/29/2015                       A Plague So Pleasant
 10232   NaN           NaN                                        NaN
 10233  5117      8/5/2005                          My Date With Drew
 10234   NaN           NaN                                        NaN

                        3               4                5
 0      Production Budget  Domestic Gross  Worldwide Gross
 1           $425,000,000    $760,507,625   $2,783,918,982
 2                    NaN             NaN              NaN
 3           $306,000,000    $935,832,841   $2,057,832,841
 4                    NaN             NaN              NaN
 5           $300,000,000    $309,420,425     $963,420,425
 6                    NaN             NaN              NaN
 7           $300,000,000    $200,074,175     $879,620,923
 8                    NaN             NaN              NaN
 9           $275,000,000    $448,139,099   $1,084,439,099
 10                   NaN             NaN              NaN
 11          $275,000,000     $89,289,910     $259,989,910
 12                   NaN             NaN              NaN
 13          $275,000,000     $73,058,679     $282,778,100
 14                   NaN             NaN              NaN
 15          $260,000,000    $200,821,936     $586,581,936
 16                   NaN             NaN              NaN
 17          $258,000,000    $336,530,303     $890,875,303
 18                   NaN             NaN              NaN
 19          $250,000,000    $459,005,868   $1,404,705,868
 20                   NaN             NaN              NaN
 21          $250,000,000    $312,780,395     $828,780,395
 22                   NaN             NaN              NaN
 23          $250,000,000    $303,003,568   $1,017,003,568
 24                   NaN             NaN              NaN
 25          $250,000,000    $301,959,197     $935,083,686
 26                   NaN             NaN              NaN
 27          $250,000,000    $258,366,855     $960,366,855
 28                   NaN             NaN              NaN
 29          $250,000,000    $255,119,788     $955,119,788
 ...                  ...             ...              ...
 10205            $10,000          $1,987           $1,987
 10206                NaN             NaN              NaN
 10207            $10,000            $527             $527
 10208                NaN             NaN              NaN
 10209            $10,000            $401             $401
 10210                NaN             NaN              NaN
 10211            $10,000              $0               $0
 10212                NaN             NaN              NaN
 10213             $9,000          $4,584           $4,584
 10214                NaN             NaN              NaN
 10215             $7,000      $2,040,920       $2,041,928
 10216                NaN             NaN              NaN
 10217             $7,000        $424,760         $841,926
 10218                NaN             NaN              NaN
 10219             $7,000         $70,071          $71,644
 10220                NaN             NaN              NaN
 10221             $7,000            $900             $900
 10222                NaN             NaN              NaN
 10223             $6,000         $44,705         $236,718
 10224                NaN             NaN              NaN
 10225             $5,000          $1,338           $1,338
 10226                NaN             NaN              NaN
 10227             $5,000              $0               $0
 10228                NaN             NaN              NaN
 10229             $3,967         $10,443          $10,443
 10230                NaN             NaN              NaN
 10231             $1,400              $0               $0
 10232                NaN             NaN              NaN
 10233             $1,100        $181,041         $181,041
 10234                NaN             NaN              NaN

 [10235 rows x 6 columns]]

In [3]:
dfb = df_budgets[0]
headers = dfb.loc[0][1:]
dfb = dfb[[1,2,3,4,5]][1:]
dfb.columns = headers
dfb = dfb.dropna()
dfb

,Release Date,Movie,Production Budget,Domestic Gross,Worldwide Gross
1,12/18/2009,Avatar,"$425,000,000","$760,507,625","$2,783,918,982"
3,12/18/2015,Star Wars Ep. VII: The Force Awakens,"$306,000,000","$935,832,841","$2,057,832,841"
5,5/24/2007,Pirates of the Caribbean: At World's End,"$300,000,000","$309,420,425","$963,420,425"
7,11/6/2015,Spectre,"$300,000,000","$200,074,175","$879,620,923"
9,7/20/2012,The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099"
11,7/2/2013,The Lone Ranger,"$275,000,000","$89,289,910","$259,989,910"
13,3/9/2012,John Carter,"$275,000,000","$73,058,679","$282,778,100"
15,11/24/2010,Tangled,"$260,000,000","$200,821,936","$586,581,936"
17,5/4/2007,Spider-Man 3,"$258,000,000","$336,530,303","$890,875,303"
19,5/1/2015,The Avengers: Age of Ultron,"$250,000,000","$459,005,868","$1,404,705,868"
21,3/25/2016,Batman v Superman: Dawn of Justice,"$250,000,000","$312,780,395","$828,780,395"
23,12/14/2012,The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568"
25,7/15/2009,Harry Potter and the Half-Blood Prince,"$250,000,000","$301,959,197","$935,083,686"
27,12/13/2013,The Hobbit: The Desolation of Smaug,"$250,000,000","$258,366,855","$960,366,855"
29,12/17/2014,The Hobbit: The Battle of the Five Armies,"$250,000,000","$255,119,788","$955,119,788"
31,5/20/2011,Pirates of the Caribbean: On Stranger Tides,"$250,000,000","$241,063,875","$1,045,663,875"
33,6/28/2006,Superman Returns,"$232,000,000","$200,120,000","$374,085,065"
35,11/14/2008,Quantum of Solace,"$230,000,000","$169,368,427","$591,692,078"
37,5/4/2012,The Avengers,"$225,000,000","$623,279,547","$1,519,479,547"
39,7/7/2006,Pirates of the Caribbean: Dead Man's Chest,"$225,000,000","$423,315,812","$1,066,215,812"
41,6/14/2013,Man of Steel,"$225,000,000","$291,045,518","$667,999,518"
43,5/16/2008,The Chronicles of Narnia: Prince Caspian,"$225,000,000","$141,621,490","$417,341,288"
45,7/3/2012,The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267"
47,6/12/2015,Jurassic World,"$215,000,000","$652,198,010","$1,670,328,025"
49,5/25/2012,Men in Black 3,"$215,000,000","$179,020,854","$654,213,485"
51,6/24/2009,Transformers: Revenge of the Fallen,"$210,000,000","$402,111,870","$836,519,699"
53,6/27/2014,Transformers: Age of Extinction,"$210,000,000","$245,439,076","$1,104,039,076"
55,5/26/2006,X-Men: The Last Stand,"$210,000,000","$234,362,462","$459,359,555"
57,5/14/2010,Robin Hood,"$210,000,000","$105,269,730","$322,241,588"
59,5/18/2012,Battleship,"$209,000,000","$65,233,400","$305,218,228"
...,...,...,...,...,...
10175,8/1/1991,Slacker,"$23,000","$1,227,508","$1,227,508"
10177,12/31/2014,Dry Spell,"$22,000",$0,$0
10179,4/21/2015,The Front Man,"$20,000",$0,$0
10181,12/31/2003,Flywheel,"$20,000",$0,$0
10183,1/4/2013,All Superheroes Must Die,"$20,000",$0,$0
10185,11/25/2011,The Ridges,"$17,300",$0,$0
10187,6/2/2006,The Puffy Chair,"$15,000","$194,523","$195,254"
10189,4/2/2010,Breaking Upwards,"$15,000","$115,592","$115,592"
10191,12/31/2014,Stories of Our Lives,"$15,000",$0,$0
10193,4/11/1997,Pink Flamingos,"$12,000","$413,802","$413,802"
10195,4/28/2006,Grip: A Criminal's Story,"$12,000","$1,336","$1,336"
10197,12/31/2007,Tin Can Man,"$12,000",$0,$0
10199,3/9/2001,Dayereh,"$10,000","$673,780","$673,780"
10201,4/28/2006,Clean,"$10,000","$138,711","$138,711"
10203,7/6/2001,Cure,"$10,000","$94,596","$94,596"
10205,5/28/2004,On the Down Low,"$10,000","$1,987","$1,987"
10207,4/1/1996,Bang,"$10,000",$527,$527
10209,8/14/2008,The Rise and Fall of Miss Thang,"$10,000",$401,$401
10211,5/19/2015,Family Motocross,"$10,000",$0,$0
10213,1/13/2012,Newlyweds,"$9,000","$4,584","$4,584"
10215,2/26/1993,El Mariachi,"$7,000","$2,040,920","$2,041,928"
10217,10/8/2004,Primer,"$7,000","$424,760","$841,926"
10219,5/26/2006,Cavite,"$7,000","$70,071","$71,644"
10221,1/1/2004,The Mongol King,"$7,000",$900,$900
10223,4/2/1999,Following,"$6,000","$44,705","$236,718"
10225,7/13/2005,Return to the Land of Wonders,"$5,000","$1,338","$1,338"
10227,9/29/2015,Signed Sealed Delivered,"$5,000",$0,$0
10229,2/15/2013,Shanghai Calling,"$3,967","$10,443","$10,443"
10231,9/29/2015,A Plague So Pleasant,"$1,400",$0,$0
10233,8/5/2005,My Date With Drew,"$1,100","$181,041","$181,041"